@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

/*
    #e84d5b
    #eae2cf
    #b4ccb9
    #26979f
    #3b3b3b
*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav,
main,
footer {
    width: 100%;
}

nav,
footer {
    background-color: #121212;
}

/* Barra de Navegação */

nav {
    font-family: "Quicksand", sans-serif;
    height: 9vh;
}

nav #image_nav {
    float: left;
    margin: 1.5vh 2vw;
}

nav ul {
    height: 9vh;
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li a {
    display: block;
    padding: 2.5vh 3vw;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: #121212;
}

nav ul li:hover {
    transition: 0.4s;
    background-color: white;
}

.activated {
    height: 4vh;
    background-color: #EEEEEE;
    color: #be2633;
}

.activated:hover {
    color: #be2633;
}

/* Cabeçalho */

header {
    height: fit-content;
    padding-bottom: 4vh;
    padding-top: 3vh;
    border-bottom: 5vh solid #be2633;
}

header .logo_images {
    float: right;
    margin-right: 2vw;
    margin-left: 2vw;
    margin-bottom: 3vh;
}

header #imagem_fatec #img_fatec {
    width: 31vh;
}

header {
    width: 100%;
    height: 20vh;
    display: flex;
}

header h1 {
    font-family: "Jost", sans-serif;
    color: #be2633;
    font-weight: 500;
    font-size: 8vh;
}

.logos_div {
    width: 100%;
    margin-top: 5vh;
}

#text {
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
}

/* Main */

main {
    height: fit-content;
}

main h1 {
    font-family: "Jost", sans-serif;
    color: #be2633;
    font-weight: 500;
    margin-left: 3vw;
    font-size: 6vh;
}

main h4 {
    font-family: "Jost", sans-serif;
    color: #be2633;
    font-weight: 500;
    margin-left: 3vw;
    font-size: 4vh;
}

/* Rodapé */

footer {
    padding-top: 7vh;
    height: 12vh;
}