@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

/*
    #e84d5b
    #eae2cf
    #b4ccb9
    #26979f
    #3b3b3b
*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav,
main,
footer {
    width: 100%;
}

nav,
footer {
    background-color: #121212;
}

/* Barra de Navegação */

nav {
    font-family: "Quicksand", sans-serif;
    height: 9vh;
}

nav #image_nav {
    float: left;
    margin: 1.5vh 2vw;
}

nav ul {
    height: 9vh;
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li a {
    display: block;
    padding: 2.5vh 3vw;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: #121212;
}

nav ul li:hover {
    transition: 0.4s;
    background-color: white;
}

.activated {
    height: 4vh;
    background-color: #EEEEEE;
    color: #be2633;
}

.activated:hover {
    color: #be2633;
}

/* Cabeçalho */

header {
    height: fit-content;
    padding-bottom: 4vh;
    padding-top: 3vh;
    border-bottom: 5vh solid #be2633;
}

header .logo_images {
    float: right;
    margin-right: 2vw;
    margin-left: 2vw;
    margin-bottom: 3vh;
}

header #imagem_fatec #img_fatec {
    width: 31vh;
}

header {
    width: 100%;
    height: 20vh;
    display: flex;
}

header h1 {
    font-family: "Jost", sans-serif;
    color: #be2633;
    font-weight: 500;
    font-size: 8vh;
}

.logos_div {
    width: 100%;
    margin-top: 5vh;
}

#text {
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
}

/* Main */

main {
    height: fit-content;
}

main ul li {
    list-style: none;
}

main .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.card {
    margin: 5vh 0;
    padding-bottom: 5vh;
    box-shadow: 0px 1px 10px #ABABAB;
    width: 75%;
}

.card #title_card {
    padding: 2vh 0 2vh 4vh;
    margin-bottom: 5vh;
    color: #EEEEEE;
    background-color: #be2633;
}

.fast_acess ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2vh 2vw;
}

.card .fast_acess ul li {
    display: flex;
    justify-content: center;
    width: 30%;
}

.card .fast_acess .card_fa {
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1vw;
    border: #ABABAB solid 1px;
    border-radius: 15%;
    height: 20vh;
    width: 20vh;
}

a {
    text-decoration: none;
}

.card_fa i {
    height: 50%;
    color: #be2633;
    padding-top: 2vh;
    font-size: 25pt;
}

.card_fa p {
    font-size: 10pt;
    color: #be2633;
}

.image_main img{
    width: 100%;
    margin: 2vh 0 7vh;
}

.card_calendar {
    box-shadow: 0px 1px 10px #ABABAB;
    width: 75%;
}

.card_calendar #title_calendar {
    padding: 2vh 0 2vh 4vh;
    color: #EEEEEE;
    background-color: #be2633;
}

.card_calendar #title_calendar h4 {
    background-color: #EEEEEE;
    padding: 1vh;
    width: fit-content;
    color: #be2633;
    font-weight: 500;
}

.date_info {
    border-top: #dee2e6 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vh 0 2vh 2vw;
    height: 15vh;
}

.date_info p {
    padding-right: 2vw;
    text-align: justify;
}

#calendar_content ul>li:last-child {
    border-bottom: #dee2e6 1px solid;
}

#calendar_content ul>li:nth-child(2n) .date_info {
    background-color: #f2f2f2;
}

.card_fa:hover {
    background-color: #be2633;
    p {
        color: #EEEEEE;
    }
    i {
        color: #EEEEEE;
    }
}

strong {
    color: #be2633;
}

/* Rodapé */

footer {
    padding-top: 7vh;
    height: 12vh;
}